Debug/huffman.exe
Debug/huffman.ilk
Debug/huffman.pdb
huffman/Debug/BuildLog.htm
huffman/Debug/huffman.obj
huffman/Debug/huffman.pch
huffman/Debug/mt.dep
huffman/Debug/stdafx.obj
huffman/Debug/vc90.idb
huffman/Debug/vc90.pdb